<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta
          name="viewport"
          content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,minimal-ui,viewport-fit=cover" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>com.chip0llino.finals.stats Property Inspector</title>
    <link rel="stylesheet" href="../../../libs/css/sdpi.css" />
</head>

<body>
    <div class="sdpi-wrapper">
        <form id="property-inspector">
            <div class="sdpi-item">
                <div data-localize class="sdpi-item-label" title="EmbarkID">Embark ID</div>
                <input data-localize class="sdpi-item-value" id="embarkId" type="text" value="EmbarkID here" placeholder="Your Embark ID" />
            </div>
            <div type="radio" class="sdpi-item" id="platform_radio">
                <div class="sdpi-item-label">Platform</div>
                <div class="sdpi-item-value ">
                    <span class="sdpi-item-child">
                        <input id="crossplay" type="radio" value="crossplay" name="platform_radio" >
                        <label for="crossplay" class="sdpi-item-label"><span></span>Crossplay</label>
                    </span>
                    <span class="sdpi-item-child">
                        <input id="steam" type="radio" value="steam" name="platform_radio" checked>
                        <label for="steam" class="sdpi-item-label"><span></span>Steam</label>
                    </span>
                    <span class="sdpi-item-child">
                        <input id="xbox" type="radio" value="xbox" name="platform_radio">
                        <label for="xbox" class="sdpi-item-label"><span></span>Xbox</label>
                    </span>
                    <span class="sdpi-item-child">
                        <input id="psn" type="radio" value="psn" name="platform_radio">
                        <label for="psn" class="sdpi-item-label"><span></span>PSN</label>
                    </span>
                </div>
            </div>
            <div type="radio" class="sdpi-item" id="season_radio">
                <div class="sdpi-item-label">Season</div>
                <div class="sdpi-item-value ">
                    <span class="sdpi-item-child">
                        <input id="live" type="radio" value="live" name="season_radio" checked>
                        <label for="live" class="sdpi-item-label"><span></span>Live</label>
                    </span>
                    <span class="sdpi-item-child">
                        <input id="cb1" type="radio" value="cb1" name="season_radio">
                        <label for="cb1" class="sdpi-item-label"><span></span>Closed Beta 1</label>
                    </span>
                    <span class="sdpi-item-child">
                        <input id="cb2" type="radio" value="cb2" name="season_radio">
                        <label for="cb2" class="sdpi-item-label"><span></span>Closed Beta 2</label>
                    </span>
                    <span class="sdpi-item-child">
                        <input id="ob" type="radio" value="ob" name="season_radio">
                        <label for="ob" class="sdpi-item-label"><span></span>Open Beta</label>
                    </span>
                    <span class="sdpi-item-child">
                        <input id="s1" type="radio" value="s1" name="season_radio">
                        <label for="s1" class="sdpi-item-label"><span></span>Season 1</label>
                    </span>
                    <span class="sdpi-item-child">
                        <input id="s2" type="radio" value="s2" name="season_radio">
                        <label for="s2" class="sdpi-item-label"><span></span>Season 2</label>
                    </span>
                </div>
            </div>
        </form>
    </div>

    <div class="sdpi-info-label hidden" style="top: -1000" value=""></div>

    <!-- Stream Deck Libs -->
    <script src="../../../libs/js/constants.js"></script>
    <script src="../../../libs/js/prototypes.js"></script>
    <script src="../../../libs/js/timers.js"></script>
    <script src="../../../libs/js/utils.js"></script>
    <script src="../../../libs/js/events.js"></script>
    <script src="../../../libs/js/api.js"></script>
    <script src="../../../libs/js/property-inspector.js"></script>
    <script src="../../../libs/js/dynamic-styles.js"></script>

    <!-- Property Inspector Source -->
    <script>
        let MSETTINGS = {
            embarkId: "Embark ID here",
            platform: "steam",
            leaderboardVersion: "live",
            upInterval: 5
        };        
     
        $PI.on('connected', (jsn) => {
            MSETTINGS = jsn?.actionInfo?.payload?.settings || {};

            const embarkIdEl = document.getElementById('embarkId');
            if(embarkIdEl) {
                embarkIdEl.value = MSETTINGS.embarkId === undefined ? "Embark ID here" : MSETTINGS.embarkId;
                embarkIdEl.onchange = () => {
                    console.log("new value for embarkId: " + embarkIdEl.value);
                    MSETTINGS.embarkId = embarkIdEl.value;
                    $PI.setSettings(MSETTINGS);
                };
            }

            const platformEl = document.getElementById('platform_radio');
            if(platformEl) {
                const sPlatform = document.getElementById(MSETTINGS.platform);
                if(sPlatform) {
                    sPlatform.checked = true;
                }                

                var platformRadios = document.getElementsByName("platform_radio");
                platformRadios.forEach(radio => 
                    radio.onchange = () => {
                        console.log("new value for platform: " + radio.value);
                        MSETTINGS.platform = radio.value;
                        $PI.setSettings(MSETTINGS);                                        
                    }
                );
            }

            const seasonEl = document.getElementById('season_radio');
            if(seasonEl) {
                const sSeason = document.getElementById(MSETTINGS.leaderboardVersion);
                if(sSeason){
                    sSeason.checked = true;
                }                

                var seasonRadios = document.getElementsByName("season_radio");
                seasonRadios.forEach(radio => 
                    radio.onchange = () => {
                        console.log("new value for season: " + radio.value);
                        MSETTINGS.leaderboardVersion = radio.value;
                        $PI.setSettings(MSETTINGS);                                        
                    }
                );
            }
        });
    </script>
</body>

</html>
